* {
  margin: 0%;
  padding: 0%;
}
html,
body {
  width: 100%;
  height: 100%;
}

h1 {
  /* background-color: aqua; */
  color: blue;
  text-align: center;
}
body {
  /* background-color: rgb(235, 164, 164); */
  background-image: url("Sun.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  color: white;
  text-align: center;
}

div {
  width: 30%;
  border-radius: 10px;
  height: 30%;
}
#Box1 {
  background-color: aqua;
  color: rgb(195, 68, 68);
  text-align: center;
}
#Box2 {
  background-color: blue;
}
